.body_background 
{
    background-image: url("https://ak5.picdn.net/shutterstock/videos/8502376/thumb/11.jpg?i10c=img.resize(height:160)");
    background-position: center;
    background-size: cover;
}